 @import '../../app.scss';

.services{
   background: linear-gradient(180deg,#0c0c1d,#111132);
   height:100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   @include tablet{
        height:100%;
        margin-left:10px;
        margin-right:10px;
       width:100%;
       
    }
    @include mobile{
        height:100%;
        margin-left:10px;
        margin-right:10px;
        width:inherit;
       
    }
   .textContainer {
       flex:1;
       align-self: flex-end;
       display:flex;
       align-items: center;
       gap:20px;

       @include tablet {
         height:20%;
         width:100%;
       
       }
       @include mobile {
         height:10%;
         width:100%;
       
       }
      
       p{
        font-weight: 200;
        font-size: 20px;
        color:gray;
        text-align:right;
        @include tablet{
            font-size: 30px;
            text-align: end;
        }
        @include mobile{
            font-size: 10px;
            
        }
       }

       hr{
        width: 500px;
        border:none;
        border-top:0.5px solid gray;
        @include tablet{
            width:500px;
        }
        @include mobile{
            width:200px;
        }
       }
   }

   .titleContainer{
    flex:2;
    display:flex;
    flex-direction:column;
    align-items: center;
    @include tablet{
       justify-content: center;

    }
    @include mobile{
        height: 30%;
        width:100%;
       margin-bottom: 0;
       justify-content: space-evenly;
       margin-left:20px;

    }
  
        .title{
           display:flex;
           align-items: center;
            gap:50px;
        
            
            @include mobile{
             
                width:100%;
                height:50px;
        
            }
          
            img{
                width: 300px;
                height:100px;
                border-radius: 50%;
                object-fit: cover;
                @include mobile{
                 
                    width:70px;
                    height:50px;
                }
              
            }

                    
            h1{
                font-size: 96px;
                font-weight: 100;
                @include tablet{
                    font-size:5rem;
                    
            
                }
                @include mobile{
                    font-size:1.3rem;
                    
            
                }

            }

            button{
                width:300px;
                height:100px;
                border-radius: 50px;
                background-color: orange;
                border:none;
                font-size:24px ;
                cursor: pointer;
                @include mobile{
                 
                  font-size: 8px; 
                  width:70px;
                  height:50px;
                   }
             
            }
        }
   }

   .listContainer{
       flex:2;
       display:flex;
        max-width: 1366px;
        margin:auto;
        @include mobile{
          
           width:100%;
           height:50%;
            padding:5px;
            margin-top:0;
        }
      
       .box{
         padding:50px;
         border:0.5px solid gray;
         display:flex;
         flex-direction: column;
         justify-content: space-between;
         
         @include mobile{
           padding:10px;
            height:100%;

         }

         h2{
             @include mobile{
                font-size:0.7rem;

             }
         }

         p{
           @include mobile{
             font-size: 0.3rem;
           }
         }

         button{
            margin-top: 20px;
            padding:10px;
            background-color: orange;
            border:none;
            cursor:pointer;

            @include mobile{
                padding:10px;
                margin-top: 0;
            }
         
         }
       }
   }
}